<div class="w-fullmx-auto overflow-auto flex flex-wrap md:flex-row items-center m-4">
    <div class="border-contenedor border flex rounded py-1 px-3 border-transparent  w-full items-center">
        <div>
            <div class="tarea_completa  w-4 h-4 mx-5 border rounded-full border-transparent"></div>
        </div>
        <div class="input_tarea h-6 w-11/12 border rounded border-transparent"></div>
        <div class="group-hover:text-gray-700 w-20 flex items-center text-base justify-end">
            <div class="eliminar_tarea   w-4 h-4 mx-3 border rounded-full border-transparent"></div>
            <div class="modificar_tarea   w-4 h-4 mx-3 border rounded-full border-transparent"></div>
        </div>
    </div>
</div>
