<div class="lg:w-2/3 height-contenedor mx-auto mt-12">
  <div class="mb-8">
    <p class="text-4xl">Grupos</p>
    <div class="flex items-center justify-around w-full mt-6">
      <div>
        <a
          class="flex border border-gray-600 bg-white hover:bg-blue-100 hover:border-blue-600 hover:text-blue-700 text-gray-600 text-sm py-2 px-4 rounded inline-flex items-center cursor-pointer"
          (click)="this.CrearGrupo = true"
        >
          Crear Grupo
        </a>
      </div>

      <div>
        <a
          class="flex border border-gray-600 bg-white hover:bg-blue-100 hover:border-blue-600 hover:text-blue-700 text-gray-600 text-sm py-2 px-4 rounded inline-flex items-center cursor-pointer"
        >
          Unirce a un Grupo
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="!this.PlaceholderGrupo">
    <app-placeholder-group></app-placeholder-group>
    <app-placeholder-group></app-placeholder-group>
    <app-placeholder-group></app-placeholder-group>
  </div>
  <div *ngIf="this.PlaceholderGrupo">
    <span *ngFor="let item of this.person.Grupo">
      <app-group [grupo]="item" [IDPerson]="this.person.ID"></app-group>
    </span>
  </div>
</div>
<app-create-group
  *ngIf="this.CrearGrupo"
  (close)="this.CrearGrupo = false"
></app-create-group>
