<div class="lg:w-2/3 height-contenedor mx-auto mt-12">
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-lg">Lista de tarea del grupo</h1>
    <div>
      <a class="border border-gray-600 bg-white hover:bg-blue-100 hover:border-blue-600 hover:text-blue-700 text-gray-600 text-sm  py-2 px-4 rounded inline-flex items-center w-56 cursor-pointer" (click)="this.HabilitarAgregarTarea = !this.HabilitarAgregarTarea">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 mx-3" viewBox="0 0 24 24">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        <span>Agregar nueva tarea</span>
      </a>
    </div>
  </div>
  <div class="h-full overflow-auto">
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <app-placeholder-task></app-placeholder-task>
    <!--<app-task></app-task>-->
  </div>
</div>

<app-add-task *ngIf="this.HabilitarAgregarTarea" (close)="this.HabilitarAgregarTarea = false"></app-add-task>