<div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
        <div class="relative w-screen max-w-md">
          <div class="absolute top-0 left-0 -ml-8 pt-4 pr-2 flex sm:-ml-10 sm:pr-4">
            <button aria-label="Close panel" class="text-gray-300 hover:text-white transition ease-in-out duration-150" (click)="cancel()">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
          <div class="h-full flex flex-col space-y-6 py-6 bg-white shadow-xl overflow-y-scroll">
            <header class="px-4 sm:px-6">
              <h2 class="text-lg leading-7 font-medium text-gray-900">
                <input class="text-black p-1 flex items-center w-full border border-transparent rounded focus:outline-none focus:border-gray-200" type="text" maxlength="100" placeholder="Titulo de la tarea" [(ngModel)]="this.task.Titulo" [ngModelOptions]="{standalone: true}">
              </h2>
            </header>
            <div class="relative flex-1 px-4 sm:px-6">

                <form class="w-full max-w-lg">
                    <div class="flex items-center justify-between my-4">
                        <label for="" class="text-sm">Prioridad</label>

                        <div class="flex items-center text-left ml-10 w-48">
                          <div class="flex items-center w-12 mr-4">
                            <input type="radio" id="alta" name="gender" value="alta" [value]="3"  [(ngModel)]="this.task.Estado" [ngModelOptions]="{standalone: true}">
                            <label class="text-red-600 mx-1" for="alta">Alta</label>
                          </div>

                          <div class="flex items-center w-16 mr-4">
                            <input type="radio" id="medio" name="gender" value="medio" [value]="2"  [(ngModel)]="this.task.Estado" [ngModelOptions]="{standalone: true}">
                            <label class="text-orange-600 mx-1" for="medio">Medio</label>
                          </div>

                          <div class="flex items-center w-12">
                            <input type="radio" id="baja" name="gender" value="baja" [value]="1"  [(ngModel)]="this.task.Estado" [ngModelOptions]="{standalone: true}">
                            <label class="text-green-600 mx-1" for="baja">Baja</label>
                          </div>
                        </div>
                        
                        <!--<div class="relative inline-block text-left ml-10 w-48">
                            <div>
                                <span class="rounded-md shadow-sm">
                                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-1 bg-white text-sm leading-5 font-medium text-gray-700  focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" id="options-menu" aria-haspopup="true" aria-expanded="true" (click)="this.prioridad = !this.prioridad">
                                      Options
                                        <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                        
                            <div class="origin-top-right absolute right-10 mt-2 w-48 rounded-md shadow-lg" *ngIf="this.prioridad">
                                <div class="rounded-md bg-white shadow-xs">
                                    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                      <a class="block px-16 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem"><span class="rounded-full py-2 px-4 text-gray-600">.....</span></a>
                                        <a class="block px-16 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem"><span class="rounded-full py-2 px-4 text-red-600">Alta</span></a>
                                        <a class="block px-16 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem"><span class="rounded-full py-2 px-4 text-orange-600">Media</span></a>
                                        <a class="block px-16 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem"><span class="rounded-full py-2 px-4 text-green-600">Baja</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <div class="flex items-center justify-between my-4">
                        <label for="" class="text-sm">Comienzo de la tarea</label>
                        <input class="w-48 p-1 text-sm leading-5 focus:outline-none  rounded-md border border-gray-300 px-4 py-1 bg-white text-sm leading-5 font-medium text-gray-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" id="cus_name" name="cus_name" type="date" [(ngModel)]="this.task.FechaComienzo" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="flex items-center justify-between my-4">
                      <label for="" class="text-sm">Descripcion</label>
                      <textarea placeholder="Descripcion de la tarea" maxlength="300" cols="10" rows="10" class="style-textarea w-48 h-16 p-1 text-sm leading-5 focus:outline-none  rounded-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" [(ngModel)]="this.task.Descripcion" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    
                    <div class="style-line bg-gray-400 mt-10"></div>

                    <a class="mt-10 mb-2 border border-gray-600 bg-white hover:bg-green-100 hover:border-green-600 hover:text-green-700 text-gray-600 text-sm  py-2 px-4 rounded inline-flex items-center w-full cursor-pointer">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 mx-3" viewBox="0 0 24 24">
                        <polyline points="20 6 9 17 4 12"></polyline>
                      </svg>
                      <span>Marcar como tarea finalizada</span>
                    </a>

                    <a class=" my-4 border border-gray-600 bg-white hover:bg-red-100 hover:border-red-600 hover:text-red-700 text-gray-600 text-sm  py-2 px-4 rounded inline-flex items-center w-full cursor-pointer">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 mx-3" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="15" y1="9" x2="9" y2="15"></line>
                        <line x1="9" y1="9" x2="15" y2="15"></line>
                      </svg>
                      <span>Eliminar tarea</span>
                    </a>
                </form>

              <!-- /End replace -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


