.placeholder{
    animation: pulse 1.3s infinite ease-in-out;
    animation-iteration-count: infinite;
}

.contenedor{
    display:grid;
    grid-template-columns: 6% 94%;
    grid-template-rows: 100%;
}
.contenedor_Imagen{
    grid-column: 1;
    grid-row: 1;
}
.contenedor-Data{
    grid-column: 2;
    grid-row: 1;
}


@keyframes pulse{
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.3);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}