<div class="w-fullmx-auto m-4 h-48 border border-gray-300 rounded-lg">
  <div class="contenedor grid grid-cols-2 grid-rows-1 px-4 py-6 w-full h-full">
    <div class="contenedor_Imagen h-full w-full">
      <div class="placeholder w-12 h-12 rounded-full object-cover mr-4">
        <!-- Imagen -->
      </div>
    </div>

    <div class="contenedor-Data h-full w-full">
      <div class="flex items-center justify-between w-full mb-8">
        <div class="placeholder w-40 h-6 -mt-1 rounded-full"></div>
        <!-- Nombre del grupo -->
        <div class="placeholder w-20 h-4 rounded-full"></div>
        <!-- Fecha de creacion -->
      </div>

      <div>
        <div class="placeholder w-56 h-3 rounded-full"></div>
        <!-- Creado por -->
        <div class="placeholder w-3/4 h-3 mt-3 rounded-full"></div>
        <!-- Descripcion -->
      </div>
    </div>
  </div>
</div>
