<header class="text-gray-700 body-font" *ngIf="!this.habilitar">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" routerLink="/home" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">You Task</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"></nav>
    <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"  routerLink="/sign-in" routerLinkActive="active" *ngIf="!this.habilitar">Inicia Secion
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<div>
	<router-outlet *ngIf="!this.habilitar"></router-outlet>
</div>





<!-- component -->
<div class="h-screen w-screen flex " *ngIf="this.habilitar">
	<!-- container -->

	<aside
		class="hidden lg:flex flex-col items-center bg-white text-gray-700 shadow
		h-full">
		<!-- Side Nav Bar-->

		<div class="h-16 flex items-center w-full">
			<!-- Logo Section -->
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 mx-auto text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
		</div>

		<ul>
	  <!-- Items Section -->
	  
	  <!-- home -->
	 		 <li class="hover:bg-gray-100 cursor-pointer">
				<a class="h-16 px-6 flex flex justify-center items-center w-full focus:text-orange-500" routerLink="/home-task" routerLinkActive="active">
  					<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
						<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
						<polyline points="9 22 9 12 15 12 15 22"></polyline>
  					</svg>
				</a>
			</li>
      
      <!-- Grupos -->
			<li class="hover:bg-gray-100 cursor-pointer">
				<a class="h-16 px-6 flex flex justify-center items-center w-full focus:text-orange-500" routerLink="/group" routerLinkActive="active">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
				</a>
			</li>

		</ul>

		<div class="mt-auto h-16 flex items-center w-full">
			<!-- Action Section -->
			<button
				class="h-16 w-10 mx-auto flex flex justify-center items-center
				w-full focus:text-orange-500 hover:bg-red-200 focus:outline-none" (click)="CerrarSecion()">
				<svg
					class="h-5 w-5 text-red-700"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round">
					<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
					<polyline points="16 17 21 12 16 7"></polyline>
					<line x1="21" y1="12" x2="9" y2="12"></line>
				</svg>

			</button>
		</div>

	</aside>

	<div class="flex-1 flex flex-col">
		<nav class="px-4 flex justify-between bg-white h-16 border-b-2">
			<!-- top bar -->

			<ul class="flex items-center lg:hidden">
				<!-- top bar left -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 mx-auto text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
			</ul>

			<ul class="flex items-center">
				<!-- top bar center -->
				<li>
					<h1 class="pt-5 pl-10 lg:pl-0 text-gray-700">You Task</h1>
				</li>
			</ul>
			<ul class="flex items-center">
				<!-- to bar right  -->
				<li class="h-8 w-8">
					<a class="cursor-pointer flex flex-col flex-grow items-center justify-center w-10 h-10 rounded-full object-cover mr-4 border border-dashed border-gray-500" (click)="Account()">
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 text-gray-600" viewBox="0 0 24 24">
							<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
							<circle cx="12" cy="7" r="4"></circle>
						</svg>
					</a>

					<!-- 

						
					<img
						class="h-full w-full rounded-full mx-auto"
						src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
						alt="profile woman" />


					-->


				</li>

			</ul>

    </nav>
    
    <div class="h-full w-full overflow-y-auto">
		<router-outlet *ngIf="this.habilitar"></router-outlet>
	</div>

</div>

	<nav
		class="fixed bottom-0 w-full border bg-white lg:hidden flex
		overflow-x-auto">
		<!-- Bottom Icon Navigation Menu -->

		    <!-- Home -->
			<a class="cursor-pointer flex flex-col flex-grow items-center justify-center overflow-hidden whitespace-no-wrap text-sm transition-colors duration-100 ease-in-out hover:bg-gray-200 focus:text-orange-500" routerLink="/home-task" routerLinkActive="active">
      
				<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
					<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
					<polyline points="9 22 9 12 15 12 15 22"></polyline>
				</svg>
				  </a>

    <!-- Grupos -->
		<a class="cursor-pointer flex flex-col flex-grow items-center justify-center overflow-hidden whitespace-no-wrap text-sm transition-colors duration-100 ease-in-out hover:bg-gray-200 focus:text-orange-500" routerLink="/group" routerLinkActive="active">
      
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
      </svg>
		</a>
	</nav>

</div>
